<!DOCTYPE html>
<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</header>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
{{{message}}}
</body>
</html>
